h1 {  color:green; 
	text-align: center;
   } 
blockquote { 
		font-style: italic;
		text-align: center;
	 }

p { 
    text-align:center;
    text-indent: 2em;
    font-size: small;
    font-family: sans-serif;
  }
h2 { 
     color: grey;
     text-align:center;	
 }
h3 { text-align: center; }
h4 { text-align: center; }
ul {	font-style: italic;
	list-style-position: inside;
	 }
ol { list-style-type: square;
     list-style-position: inside;
	text-align: center; 
   }
li { text-align: center; }
h5 { text-align: center; }
